// comienza seccion de donde venimos
#donde {
  display: flex;
  flex-direction: column;
  grid-area: donde;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;

  h2 {
    font-family: $plexsans;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    padding-bottom: 30px;
  }

  p {
    @include estilop;
  }

  .img-phone {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: $desktop) {
  #donde {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;

    .img-phone {
      max-width: 40%;
    }

    article {
      max-width: 50%;

    }

    p {
      font-size: 16px;
    }
    h2 {
      padding-top: 10px;
      font-size: 48px;
    }
  }
}

@media (min-width: 1024px){
  #donde{
    margin-top: 0;
  }
}


