footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    
    h3{
        margin: 10px 0;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }

    ul{
        display: flex;
        justify-content: space-around;
        

        li{
            list-style: none;
            
        }

        .fab{
            color: #000000;
            padding: 0 20px;
            transition: .5s ease; 
        }
    }
}

.fa-spotify:hover{
    transform: scale(1.8);
    color:#1DB954;
}

.fa-instagram:hover{
    transform: scale(1.8);
    color: #fd5949;
}
    
.fa-twitter:hover{
    transform: scale(1.8);
    color: #1DA1F2;
}

.fa-facebook-square:hover{
    transform: scale(1.8);
    color: #4267B2;
}

.fa-telegram:hover{
    transform: scale(1.8);
    color: #0088cc;
}


@media (min-width:$desktop){
    footer{
        flex-direction: row;
        justify-content: space-between;

        h3{
            margin-left: 100px;
        }

        ul{
            margin-right: 100px;
            
        }
        
        
    }
}