$desktop: 768px;
$plexmono:'IBM Plex Mono', monospace;
$plexsans: 'IBM Plex Sans', sans-serif;
$plexmono-m: 'IBM Plex Mono-medium', monospace;
$plexsans-b: 'IBM Plex Sans-bold', sans-serif;
$colorboton: #00F3BB;
$fondoazul: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);